@model IEnumerable<Data.Entities.Food>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        Панель адміну
    </div>

    <div class="panel-body">
        @using (Html.BeginForm("FoodList", "Admin"))
        {
            <div class="pull-left">
                <input type="submit" class="btn btn-primary" value="Список їжі" />
            </div>
        }
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-left">
                <input type="submit" class="btn btn-primary" value="Список заказів" />
            </div>
        }
    </div>


</div>



